@import url('https://fonts.googleapis.com/css2?family=Texturina:opsz@12..72&display=swap');

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Texturina', serif;
}
canvas {
  display: block;
}
